[path]
data = C:\Users\ly\Desktop\CHI_2a\test\22_channels.npz
cheb = None
save = C:\Users\ly\Desktop\CHI_2a\test\result\

[train]
channels = 22
fold = 8
context = 1
epoch = 200
batch_size = 32
optimizer = adam
learn_rate = 7.6e-4
lr_decay = 0
subject_id = 1

[model]
adj_matrix = GL
Globaldense = 16
GLalpha = 0.0001
cheb_filters = 11
time_filters = 22
time_conv_strides = 1
time_conv_kernel = 3
num_block = 3

cheb_k = 2
l1 = 0.001
l2 = 0.001
dropout = 0.5
